.about {
    &__wrapper {
        padding: 42px 0;
    }

    &__headline h3 {
        font-family: @Kaushan-Script;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
    }

    &__title h2 {
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        text-transform: uppercase;
    }

    &__text h5 {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    }
}