.menu {
  .container {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (@max768) {
      display: none;
    }
  }

  &__wrap {
    display: flex;
  }

  &__navigation {
    display: flex;
    align-items: center;

    @media screen and (@max768) {
      display: none;
    }

    li {
      width: 85px;
      margin: 0 14.5px;
      border-bottom: 1px solid transparent;
      padding: 3px 0;
      text-align: center;
      font-weight: 600;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      .transition (@prop, 0.5s, ease);

      @media screen and (@max1024) {
      font-size: 13px;
      line-height: 15px;
      margin: 0 4.5px;
      }

      &:hover {
        border-bottom: 1px solid @Manhattan-color-hover;
        a {
          color: @Manhattan-color-hover;
        }
      }

      a {
        text-decoration: none;
        color: @white-color;
        .transition (@prop, 0.5s, ease);
      }
    }
  }

  &__buttons {
    display: flex;
    @media screen and (@max768) {
      display: none;
    }
  }

  &__btn {
    width: 24px;
    height: 24px;

    @media screen and (@max1024) {
      width: 16px;
      height: 16px;
      }

    button {
      .transition (@prop, @time, @ease);
      cursor: pointer;
      &:hover {
        transform: scale(1.1, 1.1);
      }
    }
  }

  &__btn:first-child {
    margin: 0 35px 0 17px;

    @media screen and (@max1024)  {
      margin: 0 24px 0 28px;
    }
  }
}

@media screen and (@max1024) {
  .menu {
    &__logo {
      max-width: 183px;
    }
  }
}

@media screen and (@max576) {
  .menu {
    &__logo {
      max-width: 134px;

      a img {
        height: 56px;
      }
    }
  }
}
