body {
  font-family: @Raleway;

  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }

    button {
      background-color: transparent;
      padding: 0;
    }

    .divider {
      width: 170px;
      border-bottom: 4px solid @white-color;
      display: block;
      margin: 0 auto;

      &_froly {
        border-bottom: 4px solid @froly-color;
      }
    }

    .devices___background,
    .gadgets__image-frame, 
    .gadgets__image-phone,
    .banner__background {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
}
