.partners {
  background-color: @Alabaster-color;

  &__wrapper {
    padding: 42px 0;

    @media screen and (@max1024) {
      padding: 28px 1px;
    }
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__item {
    max-width: 127px;

    @media screen and (@max1024) {
      max-width: 86px;
    }
  }
}