.team {
  &__wrapper {
    padding: 84px 0;
  }

  &__header {
    text-align: center;
  }

  &__headline {
    padding: 18px 0;

    & h3 {
      font-family: @Kaushan-Script;
      font-weight: 400;
      font-size: 30px;
      line-height: 44px;
      color: @Shark-color;
    }
  }

  &__title {
    padding: 19.5px 0 38.5px 0;

    & h2 {
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      color: @Shark-color;
    }
  }

  &__text {
    padding: 38px 0;

    & h5 {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
    }
  }

  &__gallery-wrap {
    padding-top: 58px;
    display: flex;
    justify-content: space-between;

    .card-person {
      max-width: 386px;
      text-align: center;

      &__image {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &:nth-child(2) {
        margin: 0 20px;
      }

      &:first-child {
        .card-person__photo {
          &::after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            left: -16px;
            top: -16px;
            background: @gradient-backgroud-color;

            @media screen and (@max1024) {
              left: -3px;
              top: -5px;
            }
          }
        }
      }

      &__name {
        padding: 26px 0;

        & h4 {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          text-transform: uppercase;
          color: @Shark-color;
        }
      }

      &__profession {
        padding: 4.5px 0;

        & h5 {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          color: @Shark-color;
        }
      }

      .social-media {
        position: absolute;

        &__icons {
          display: flex;
        }

        &__icon {
          &:first-child {
            background-color: @froly-color;
            margin: 0;
          }

          width: 42px;
          height: 42px;
          background-color: @Citrine-White-color;
          margin-left: 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          a {
            .transition (@prop, @time, @ease);

            &:hover {
              transform: scale(1.1, 1.1);
            }
          }
        }
      }
    }
  }
}

@media screen and (@max1024) {
  .team {
    &__wrapper {
      padding: 58px 0;
    }

    &__gallery-wrap {
      padding-top: 45px;
    }

    &__headline {
      padding: 16.5px 0;

      h3 {
        font-size: 24px;
        line-height: 35px;
      }
    }

    &__title {
      padding: 20px 0 36.5px 0;

      h2 {
        font-size: 24px;
        line-height: 28px;
      }
    }

    &__text {
      padding: 34px 0 34px 0;

      h5 {
        font-size: 14px;
        line-height: 16px;
      }
    }

    .card-person {
      &__name {
        padding: 10px 0;

        h4 {
          font-size: 18px;
          line-height: 21px;
        }
      }

      &__profession {
        padding: 1.5px;

        h5 {
          font-size: 14px;
          line-height: 16px;
        }
      }

      .social-media__icon {
        width: 35px;
        height: 35px;

        a {
          img {
            width: 86%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}