@Raleway: 'Raleway', sans-serif;
@Open-Sans: 'Open Sans', sans-serif;
@Montserrat: 'Montserrat', sans-serif;
@Kaushan-Script: 'Kaushan Script', sans-serif;


@white-color: #fff;
@Manhattan-color-hover: #F4BF87;
@Gold-Sand-color: #E4BE8D;
@Citrine-White-color: #F9EFCF;
@froly-color: #F38281;
@Morning-Glory-color: #95E1D3;
@Shark-color: #2D3033;
@gradient-backgroud-color: linear-gradient(180deg, rgba(233,130,131,0.8968837535014006) 0%, rgba(235,237,137,0.8996848739495799) 100%);

@img: '../img/';
