.work {
  &__wrapper {
    padding: 84px 0;
  }

  &__header {
    text-align: center;
    padding-bottom: 42px;
  }

  &__headline {
    padding: 18px 0;

    & h3 {
      font-family: @Kaushan-Script;
      font-weight: 400;
      font-size: 30px;
      line-height: 44px;
      color: @Shark-color;
    }
  }

  &__title {
    padding: 19.5px 0 38.5px 0;

    & h2 {
      font-weight: 900;
      font-size: 36px;
      line-height: 42px;
      text-transform: uppercase;
      color: @Shark-color;
    }
  }

  &__text {
    padding: 38px 0;

    & h5 {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
    }
  }

  .gallery {
    &__wrap {
      display: grid;
      grid-template: repeat(2, 378px) / repeat(4, 1fr);
    }

    .box {
      position: absolute;
      text-align: center;
      padding-top: 44px;
      display: none;

      &__icon {
        width: 42px;
        height: 42px;
        margin: 0 auto;
      }

      &__title {
        padding: 68px 0 11px 0;
  
        & h4 {
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;
          text-transform: uppercase;
          color: @white-color;
        }
      }

      &__text {
        padding: 4.5px 0;
  
        & h5 {
          font-weight: 400;
          font-size: 18px;
          line-height: 21px;
          color: @white-color;
        }
      }
    }

    &__picture {
      width: 100%;
      height: 100%;
      position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        .transition (@prop, @time, @ease);

        @media screen and (@min924) {

        &:hover {
          .box {
            display: block;
          }
        }

        &:hover {
          &::before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            background: @gradient-backgroud-color;
          }
        }
      }

      &:nth-child(3) {
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 3;
      }

      &-inner {
        width: 100%;
        height: 100%;

        & img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (@max1024) {

  .work {
    &__wrapper {
      padding: 58px 0;
    }

    &__header-conteiner {
      max-width: 825px;
    }

    &__header {
      padding-bottom: 28.5px;
    }

    &__headline {
      padding: 9.5px 0;

      h3 {
        font-size: 24px;
        line-height: 35px;
      }
    }

    &__title {
      padding: 18.5px 0 23.5px 0;

      h2 {
        font-size: 24px;
        line-height: 28px;
      }
    }

    &__text {
      padding: 24px 0;

      h5 {
        font-size: 14px;
        line-height: 16px;
      }
    }

    .gallery {
      &__wrap {
        grid-template: repeat(2, 256px) / repeat(4, 1fr);
      }

      .box {
        padding-top: 28px;
  
        &__icon {
          width: 28px;
          height: 28px;
        }
  
        &__title {
          padding: 46px 0 0 0;
  
          h4 {
            font-size: 18px;
            line-height: 21px;
          }
        }
  
        &__text {
          h5 {
            font-size: 14px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

@media screen and (@max768) {

  .work {
    .gallery {
      &__wrap {
        grid-template: auto auto 257px / auto;
      }

      &__picture {
        &:nth-child(6) {
          grid-column-start: span 2;
        }
      }
    }
  }
}

@media screen and (@max576) {

  .work {
    &__wrapper {
      padding: 29px 0;
    }

    &__headline {
      padding: 5.5px 0;
    }

    &__text {
      padding: 17px 0;
    }

    &__header {
      padding-bottom: 0;
    }

    .gallery {
      &__wrap {
        grid-template: repeat(5, 210px) / repeat(2, 1fr);
      }

      &__picture {
        &:nth-child(3) {
          grid-row-start: 1;
          grid-row-end: 4;
          grid-column-start: 2;
        }

        &:nth-child(4) {
          grid-row-start: 4;
          grid-column-start: 1;
        }

        &:nth-child(5) {
          grid-row-start: 2;
        }

        &:nth-child(6) {
          grid-column-start: span 2;
        }

        &:nth-child(7) {
          grid-row-start: 3;
        }
      }
    }
  }
}

@media screen and (@max320) {

  .work {
    .gallery {
      &__wrap {
        grid-template: repeat(5, 152px) / repeat(2, 1fr);
      }
    }
  }
}